.header-logo{
    display: flex;
    padding-left: 12px;
}
.btn-logo{
    background-color: transparent;
    border: none;
    display: inline-block;
}

.btn-logo img{
    width: 30px;
    margin-right: 8px;
}
