:root {
  --color-black-1: #0f0f0f;
  --color-black-2: #2f2f2f;
  --color-black-3: #444444;
  --color-white: #ffffff;
  --color-blue: #0d6efd;
  --color-indigo: #6610f2;
  --color-purple: #6f42c1;
  --color-pink: #d63384;
  --color-red: #dc3545;
  --color-orange: #fd7e14;
  --color-yellow: #ffc107;
  --color-green: #198754;
  --color-teal: #20c997;
  --color-cyan: #0dcaf0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--color-black-1);
}

.btn-header{
  background-color: var(--color-black-1);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn-header:hover{
  background-color: var(--color-black-2);
}

.btn-header-active{
  background-color: var(--color-black-2);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn-header-active:hover{
  background-color: var(--color-black-3);
}

.fa-1x{
  font-size: 20px;
}
