.option-close{
    width: 80px;
    padding: 4px;
}
.option-close-item{
    color: var(--color-white);
    height: 80px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
}
.option-close-item span{
    font-size: 10px;
}
.option-close-item:hover{
    background-color: var(--color-black-2);
}